html {
    font-size: 62.5%;
    min-height: 100vh;
}

body {
    font:400 1.6rem/1.42 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #17191C;
    color: #fff;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

p  {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
  
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
ul li {
    list-style: none;
    display: inline-block;
}
  
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
input, textarea {
    outline: none;
    border: none;
    }
input {
    display: inline-flex;
}
button {
    border: 0;
}

/* img { для картинок в блоках
    display: block;
    width: 100%;
    height: auto;
} */

.wrapper {
    /* margin: 0 auto;
    max-width: 1140px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    margin: 0 auto;
    max-width: 1140px;
}

.main-page {
    display: block;
    max-width: 1920px;
    margin: 0 auto;
    background: url('../../img/bkg-1.jpg') center top no-repeat, url('../../img/bkg-2.jpg') center bottom no-repeat;
    background-blend-mode: luminosity;
    box-shadow: inset 0px -110px 80px #17191C;
    background-color: #17191C;
    background-size: contain;
}

/* .bkg-main-page-top{
    display: block;
    max-width: 1920px;
    margin: 0 auto;
    background: url('../../img/bkg-1.jpg') center top no-repeat;
    background-blend-mode: luminosity;
    box-shadow: inset 0px -110px 80px #17191C;
    background-color: #17191C;
    background-size: contain;
}

.bkg-main-page-bottom {
    display: block;
    max-width: 1920px;
    margin: 0 auto;
    background: url('../../img/bkg-2.jpg') center bottom no-repeat;
    background-blend-mode: luminosity;
    box-shadow: inset 0px -110px 80px #17191C;
    background-color: #17191C;
    background-size: contain;
} */


