/* @font-face {
    font-family: 'bold';
    src: url('../fonts/Open_Sans/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/Open_Sans/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'bold_italic';
    src: url('../fonts/Open_Sans/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Open_Sans/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'extrabold';
    src: url('../fonts/Open_Sans/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/Open_Sans/opensans-extrabold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'extrabold_italic';
    src: url('../fonts/Open_Sans/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Open_Sans/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: 'italic';
    src: url('../fonts/Open_Sans/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/Open_Sans/opensans-italic-webfont.woff') format('woff');
    font-weight: italic;
    font-style: normal;
}

@font-face {
    font-family: 'light';
    src: url('../fonts/Open_Sans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/Open_Sans/opensans-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'light_italic';
    src: url('../fonts/Open_Sans/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/Open_Sans/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'regular';
    src: url('../fonts/Open_Sans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/Open_Sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'semibold';
    src: url('../fonts/Open_Sans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/Open_Sans/opensans-semibold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'semibold_italic';
    src: url('../fonts/Open_Sans/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Open_Sans/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
} */