body {
    font:400 1.6rem/1.42 'Lato', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #17191C;
    color: #fff;
    min-height: 100vh;
}