.games-main-title h1 {
    font-size: 7.2rem;
    font-weight: bold;
    line-height: 9.8rem;
    margin-bottom: 10.4rem;
}

.games-bkg-img{
    min-width: 1140px;
    min-height: 4.12rem;
    margin: 0 auto;
    display: block;
    margin: 0 auto;
    background: url('../../img/bkg-1.jpg') center center no-repeat;
    background-blend-mode: luminosity;
    /* box-shadow: inset 0px -110px 80px #17191C; */
    background-color: #17191C;
    overflow: hidden;
}

.breadcrumbs{
    display: flex;
}

.breadcrumbs__item::after {
    content: '/';
    margin: 0 0.5rem;
    color: #9A9A9A;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__link{
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #9A9A9A;
    text-decoration: underline;
}
