.bkg-img-header header {
    padding-top: 2rem;
    margin-bottom: 9rem;
}

.bkg-img-header{
    min-width: 100%;
    min-height: 4.12rem;
    margin: 0 auto;
    display: block;
    background: url('../../img/bkg-1.jpg') center center no-repeat;
    background-blend-mode: luminosity;
    /* box-shadow: inset 0px -110px 80px #17191C; */
    background-color: #17191C;
    /* overflow: hidden; */
}

.header-main-title h1 {
    font-size: 7.2rem;
    font-weight: bold;
    line-height: 9.8rem;
    margin-bottom: 10.4rem;
}

.breadcrumbs{
    display: flex;
    padding-bottom: 2rem;
}

.breadcrumbs__item::after {
    content: '/';
    margin: 0 0.5rem;
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
    display: none;
    font-weight: bold;
}

.breadcrumbs__item:last-child {
    font-weight: bold;
}

.breadcrumbs__link{
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #9A9A9A;
    text-decoration: underline;
}
