.footer{
    margin-top: auto;
    /* border-top: 0.2rem outset #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;
    полоса над футером выполненная бордером, но она затемняет футер тоже  */
}

.line-above-footer{
    min-height: 0.2rem;
    background: #fff;
    mix-blend-mode: normal;
    opacity: 0.1;
    
    margin: 0 auto;
    max-width: 1140px;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15rem;

    margin: 0 auto;
    max-width: 1140px;
}

footer .logo{
    display: flex;
    align-items: center;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 4.9rem;
    background: linear-gradient(87.62deg, #8F00FF -2.44%, #00A3FF 100%);
    /* color: transparent; */
}

footer .menu__list {
    display: flex;
    justify-content: space-evenly;
    min-width: 39.1rem;
}

.socials {
    display: inline-flex;
}

footer .socials__item {
    display: flex;
    margin-right: 1rem;
}

footer .socials__item:last-child {
    margin-right: 0;
}

footer .socials__link {
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
}

.socials--tg {
    background-image: url(../../img/soc-tg.png);
}

.socials--vk {
    background-image: url(../../img/soc-vk.png);
}

.socials--fb {
    background-image: url(../../img/soc-fb.png);
}

.socials--in {
    background-image: url(../../img/soc-in.png);
}

footer .contacts__info{
    display: flex;
    justify-content: flex-end;
    font-size: 1.1rem;
    color: #9A9A9A;
    line-height: 2rem;
    margin-bottom: 0.65rem;
}

footer .contacts__phone{
    display: flex;
    justify-content: flex-end;
    line-height: 2rem;
}