.games__content {
    background: #fff;
    padding-bottom: 7rem;
}

.games__list {
    display: flex;
    flex-direction: column;
}

.game__cover {
    max-width: 46rem;
    max-height: 33.3rem;
}

.game__title  {
    color: #000;
}

.game__desc {
    color: #000;
}

.game__cover--back-to-90 {
    justify-content: center;
    background-color: #000;
}