.games{
    background: #fff;
}

.games__content {
    
    padding-top: 8.5rem;
    padding-bottom: 7rem;
}

.games__list {
    display: flex;
    flex-direction: column;
}

.games_item{
    display: flex;
    padding-bottom: 5rem;
}

.games_item:last-child{
    padding-bottom: 0;
}

.game__cover {
    width: 46rem;
    height: 33.3rem;
    border-radius: 5px;
    margin-right: 5.6rem;
}

.game__title  h3{
    color: #000;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 4.9rem;
    margin-bottom: 2.9rem;
}

.game__desc {
    color: #000;
}

.game__cover--back-to-90 {
    justify-content: center;
    background-color: #000;
}

.game__desc {
    line-height: 2.7rem;
    max-width: 60rem;
    margin-bottom: 3.5rem;
}

.game__content .button--light{
    margin-left: 0;
    margin-bottom: 0;
}

.game__content .button{
    margin-left: 0;
    margin-bottom: 0;
}