.header  {
    min-height: 8rem;
    padding-top: 3rem;
    margin-bottom: 11rem;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo-pic {}

header .logo{
    display: flex;
    align-items: center;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 4.9rem;
    background: linear-gradient(87.62deg, #8F00FF -2.44%, #00A3FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: transparent; */
}

header .menu{}

.menu__item {
    vertical-align: middle;
    margin-right: 6.5rem;
  }
  
.menu__item:last-child {
    margin-right: 0;
}

.menu__link:hover {
    color: #8F00FF;
    cursor: pointer;
}

header .contacts{
    
}

.contacts__phone {
    font-size: 2.6rem;
    font-style: normal;
  }

.contacts__dropdown-title {
    font-size: 1.3rem;
    font-style: normal; 
    text-decoration: underline;
    text-align: right;
    cursor: pointer;
}