.hello {
    width: 640px;
    margin-bottom: 19.2rem;
}

.hello__content{
    padding-left: 0.7rem;
}
  
.hello__title h1 {
    font-size: 6rem; 
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 1.8rem;
    margin-left: 0.3rem;
}
  
.hello__text p {
    padding-left: 0.6rem;
    font-size: 2.1rem;
    margin-bottom: 7.5rem;
}
  
.button {
    display: inline-block;
    background: #8F00FF;
    font-size: 14px;
    border-radius: 4px;
    padding: 18px 40px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;
}
  
.button:hover {
    background: #741BBA
}