.partners{
    background: #F4F5F5;
}

.partners__title h3{
    display: flex;
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 6.5rem;
    color: #1A1B1E;
    padding-top: 9.5rem;
    margin-bottom: 9.5rem;
}

.partners__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 19.3rem;
}

.partners__list:nth-last-child(4){
    justify-content: flex-end;
}

.partners__link{
    display: flex;
}

/* .partner__icon{
    margin-right: 5rem;
}

.partner__icon:last-child{
    margin-right: 0;
} */

.partners__item {
    min-width: 25.2rem;
    min-height: 8.5rem;
    background-size: contain;
}
