.past-games{
    margin-bottom: 24.8rem;
}

.past-games__title {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 4.9rem;
    padding-left: 1.6rem;
    margin-bottom: 4.6rem;

}

.past-games__content{
    /* position: relative; */
}

.past-games__list {
    display:flex;
    margin-bottom: 7.4rem;
}

.past-game__item{
    width: calc(100% /2);
    margin-right: 2.5rem;
}

.past-game--item-bkg-pic{
    background-image: url("../../img/pg-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    min-height: 39.4rem;
}

.past-game--item-bkg-pic-two{
    background-image: url("../../img/pg-2.jpg");
    min-height: 39.4rem
}

.past-game__date {
    display: inline-block;
    padding-top: 25.8rem;
    padding-left: 4.5rem;
    padding-right: 20rem;
    margin-bottom: 1.2rem;
}

.past-game__title {
    font-size: 2.4rem;
    font-weight: bold;
    padding-left: 4.5rem;
    margin-bottom: 0.1rem;
}

.past-game__details-info {
    padding-left: 4.5rem;
    padding-bottom: 1.7rem;
}